[Unit]
Description=Som agent
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=forking
TimeoutSec=45

ExecStart=/usr/bin/env SOM_HOME_TMP/bin/som-control start
ExecStop=/usr/bin/env SOM_HOME_TMP/bin/som-control stop
ExecReload=/usr/bin/env SOM_HOME_TMP/bin/som-control reload

KillMode=process
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
